<div class="row">
  <div class="col-xs-12">
    <p class="lead">Posts for User: <%= @user_id %></p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    ...
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    ...
  </div>
</div>
